/* <a href="https://www.freepik.com/free-vector/newspaper-pages-vintage_6375448.htm#query=newspaper&position=0&from_view=search&track=sph">Image by macrovector</a> on Freepik */

@font-face {
    font-family: Typewriter;
    src: url(../fonts/jmh_typewriter/JMH-Typewriter.ttf);
}
@font-face {
    font-family: Traveling-Typewriter;
    src: url(../fonts/traveling_typewriter/TravelingTypewriter.ttf)
}

@keyframes disappear {
    0% {opacity:1}
    50%{opacity:1}
    100%{opacity:0}
}

@keyframes moveUp {
    from {margin-top: 4em}
    to {margin-top: .5em}
}

.disappear {
    animation-name:disappear;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
}

body {
    background: url("../img/background.png");
    height: 100%;
    background-size:100%;
}

h1 {
    font-family:"Traveling-Typewriter";
    font-size:5em;
    margin-top: 4em;
}

h2 {
    
}

p {
    font-family:"Typewriter"
}

input {
    font-family:"Traveling-Typewriter";
    border-radius: 5px;
    border: 5px;
    font-size: 3em;
    width: 50%;
    text-align:center;
}

